/* css */
.block-icon {
    position: relative;
    display: inline-flex;
}

.icon-tag {
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 1;
    color: black;
    width: 12px !important;
    height: 12px !important;
}